<div class="min-h-screen bg-cover bg-center"
     style="background-image: url('<%= asset_path("food.png") %>');">
<section class="py-24">
  <div class="flex justify-center">
    <div class="max-w-4xl mx-auto text-center px-4">
      <h1 class="text-5xl sm:text-6xl font-bold text-gray-900">
        <span>C</span>
        <span class="-mx-3 text-4xl sm:text-5xl">🍙</span>
        <span>lorie Ba</span>
        <span class="-mx-3 text-4xl sm:text-5xl">🍞</span>
        <span>k</span>
      </h1>

      <p class="mt-6 text-lg text-gray-600">
      食べた量ではなく、節制できた分を記録するシンプルなアプリ
      </p>

      <div class="flex gap-6 justify-center mt-6">
        <%= link_to "ログイン",new_user_session_path,
          class: "inline-block px-6 py-3 bg-indigo-600 text-white rounded-lg font-medium hover:bg-indigo-500" %>


        <%= link_to "新規登録",
          new_user_registration_path,
          class: "inline-block px-6 py-3 bg-indigo-600 text-white rounded-lg font-medium hover:bg-indigo-500" %>
      </div>
    </div>
  </div>
</section>