<div class="w-56 min-h-screen border border-gray-300 bg-white">
  <ul class="divide-y divide-gray-300">
    <li>
      <%= link_to edit_profile_path, class: "block bg-gray-300 px-6 py-4 text-gray-800 hover:bg-gray-200" do %>
        プロフィール
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "block bg-gray-300 px-6 py-4 text-gray-800 hover:bg-gray-200" do %>
        カロリー通帳
      <% end %>
    </li>
    <li>
        <%= link_to destroy_user_session_path,
            data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか？" },
            class: "block bg-gray-300 px-6 py-4 text-gray-800 hover:bg-gray-200" do %>
            サインアウト
        <% end %>
    </li>
  </ul>
</div>