<div class="min-h-screen flex justify-center px-4 py-15">
  <div class="w-full max-w-sm space-y-1 text-white">

    <h1 class="moji text-3xl text-center font-bold">
      <%= t("activerecord.attributes.calorie_record.meal_type.#{@meal_type}") %>の記録
    </h1>

    <%= render "form", calorie_record: @calorie_record, meal_type: @meal_type %>

  </div>
</div>