

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require tailwind
 *= require_self
 */



.hoge1 {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.hoge2 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}
.hoge3 {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}
.hoge4 {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.hoge5 {
  font-family: "Forum", serif;
  font-weight: 700;
  font-style: normal;
}
.moji {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}
.moji2 {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.moji3 {
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.moji4 {
  font-family: "Stick", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.moji5 {
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  font-style: normal;
}

