<p><%= @resource.email %> 様</p>

<p>パスワードリセットのリクエストを受け付けました。以下のリンクからパスワードを変更してください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心当たりがない場合は、このメールを無視してください。</p>
<p>リンクにアクセスして新しいパスワードを設定するまで、パスワードは変更されません。</p>
